.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }