.containerYuvako {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --background-color: #D9D9D9;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lableDate{
    margin-right: 10px;
    --color: aqua;
  }